@model team

<div class="container">
    <div class="logo">
        <a asp-controller="home" asp-action="index"><img src="~/assets/images/fed-img1.jpg" alt="" /></a>
    </div>

    <p id="notfication">Komanda qeydiyyatı</p>

    <form asp-action="Create" method="post" class="box">
        <div class="input">
            <input type="text" asp-for="Name" name="Name" placeholder="Məsul şəxs" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="input">
            <input type="text" asp-for="PhoneNumber" name="PhoneNumber" placeholder="Əlaqə nömrəsi" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="input">
            <input type="email" asp-for="Email" name="Email" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input">
            <select asp-for="Region" id="region" name="Region">
                <option value="" disabled selected>Region</option>
                <option value="Bakı">Bakı</option>
                <option value="Naxçıvan">Naxçıvan</option>
                <option value="Abşeron-Xızı">Abşeron-Xızı</option>
                <option value="Dağlıq-Şirvan">Dağlıq-Şirvan</option>
                <option value="Gəncə-Daşkəsən">Gəncə-Daşkəsən</option>
                <option value="Qarabağ">Qarabağ</option>
                <option value="Qazax-Tovuz">Qazax-Tovuz</option>
                <option value="Quba-Xaçmaz">Quba-Xaçmaz</option>
                <option value="Lənkəran-Astara">Lənkəran-Astara</option>
                <option value="Mərkəzi Aran">Mərkəzi Aran</option>
                <option value="Mil-Muğan">Mil-Muğan</option>
                <option value="Şəki-Zaqatala">Şəki-Zaqatala</option>
                <option value="Şərqi Zəngəzur">Şərqi Zəngəzur</option>
                <option value="Şirvan-Salyan">Şirvan-Salyan</option>
            </select>
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="input">
            <select asp-for="ClubId" asp-items="@(new SelectList(ViewBag.Clubs, nameof(club.Id), nameof(club.ClubName)))">
                    <option selected>Klub</option>
                </select>
            <span asp-validation-for="TeamCategory" class="text-danger"></span>
        </div>
        <div class="input">
            <select asp-for="TeamCategory" id="teamCategory" name="TeamCategory">
                <option value="" disabled selected>Komanda kateqoriyası</option>
                <option value="Yeni">Yeni</option>
                <option value="Orta təcrübəli">Orta təcrübəli</option>
                <option value="Təcrübəli">Təcrübəli</option>
            </select>
            <span asp-validation-for="TeamCategory" class="text-danger"></span>
        </div>
        <div class="input">
            <select asp-for="Gender" id="gender" name="gender">
                <option value="" disabled selected>Cinsi</option>
                <option value="Qadın">Qadın</option>
                <option value="Kişi">Kişi</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <button type="button" id="addInputBtn">
            <p>
                <i class="fa-regular fa-square-plus"></i>
                <span>Əlavə et</span>
            </p>
        </button>
        <div class="direction">
            <a asp-controller="team" asp-action="TeamPage" id="previousPg"><span>Geri</span></a>
            <button type="submit" id="nextPg"><span>Göndər</span></button>
        </div>
    </form>
</div>