* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90% !important;
    margin: auto;
    margin-top: 15px;
}

.logo {
    width: 220px;
    height: 100px;
}
    .logo a {
        border: 1px solid #fff !important;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

#notfication {
    font-size: 2 rem !important;
    font-weight: bold !important;
    margin-left: 40px !important;
    margin-top: 40px !important;
}

.box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    margin-top: 60px;
}

.input {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
}

    .input input {
        width: 75%;
        height: 40px;
        padding-left: 10px;
        border: 1px solid black;
    }

    .input #gender,
    #teamCategory, #HallName {
        border: 1px solid #000;
        width: 75%;
        height: 40px;
        padding-left: 10px;
    }


#addInputBtn {
    width: 35%;
    height: 40px;
    background-color: #d9e8ff;
    border: none;
    border-radius: 4px;
    color: #254f8f;
    margin-left: 13% !important;
}

button p {
    width: 100%;
    margin: auto;
}

.table {
    margin-top: 50px;
}

.box .direction {
    grid-column: span 4;
    padding-right: 35px;
}

.direction #previousPg {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
    border-color: #254f8f;
    color: #254f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction #nextPg {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #254f8f;
    border-color: #254f8f;
    color: #fff;
}

.navigation {
    display: flex;
    gap: 20px;
}

#newPg {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #254f8f;
    border-color: #254f8f;
    color: #fff;
    margin-top: 30px;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}

#mainPg {
    width: 250px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    border-color: #254f8f;
    color: #254f8f;
}

.table-striped tbody {
    cursor: pointer;
}

select option:disabled {
    display: none;
}
#updateBtn{
    border:1px solid black;
    background-color:yellow;
    padding: 5px 10px;
}

#deleteBtn {
    border: 1px solid black;
    border-radius:5px;
    background-color: red;
    padding: 5px 10px;
}

@media only screen and (max-width: 1200px) {
    #addInputBtn {
        width: 45%;
    }
}

@media only screen and (max-width: 992px) {
    #addInputBtn {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #addInputBtn {
        width: 75%;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        margin-top: 60px;
    }
}

.pagination {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

    .pagination a {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
    }

    .pagination .active {
        font-weight: bold;
    }

@media only screen and (max-width: 576px) {
    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
        margin-top: 60px;
    }
}
